.headerSection {
  margin-top: 16px;
}

.timelineSection {
  width: 100%;
  overflow-x: scroll;
  position: relative;

}

.timelineTitle {}

.eventsSection {}

.eventsTitle {}

.events {
  list-style: none;
  margin: 0;
  border: 1px solid lightgray;
  padding: 32px;
}