$knob-size: 1.5rem;

.eventLabel {
  text-align: center;
  height: 2rem;
  border: 1px solid lightgray;
  border-right: none;
  transform: rotate(-45deg);
  font-size: 0.8em;
  padding: 4px 5px 5px;
  background-color: white;

  &:before {
    content: "";
    display: block;
    position: absolute;
    right: -0.75rem;
    top: 0.23rem;
    transform: rotate(-45deg);
    width: 1.34rem;
    height: 1.34rem;
    border: 1px solid lightgray;
    border-top: none;
    border-left: none;
    background-color: white;
    z-index: -1;
  }
}

.eventKnob {
  position: absolute;
  top: 33%;
  margin-top: - $knob-size / 2;
  width: $knob-size;
  height: $knob-size;
  border: 1px solid gray;
  background-color: lightgray;
}

.eventTitle {
  font-size: 0.8em;
  position: absolute;
  top: -$knob-size;
}
