.profile {
  display: flex;
  align-items: center;
}

.profileLink {
  margin: 8px;
}

.userName {
  margin-left: 16px;
  font-size: 14px;
}

.menuItems {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;

  & li {
    margin: 0 8px;
  }
}

.button {
  color: initial;
  border: 2px solid black;
  padding: 8px;
  border-radius: 50px;
  font-size: 12px;
  background-color: white;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    background-color: gray;
    border-color: white;
    color: white;
  }
}

.settings {
  margin-top: 4px;
}
