.timelineContainer {
  position: relative;
  min-height: 200px;
}

.line {
  position: absolute;
  width: 100%;
  border-radius: 5px;
  padding: 2px;
  background-color: gray;
  top: 33%;
}

.canvasLine {
  // width: 100%;
  // height: 200px;
}

.startDate {
  font-size: 10px;
  position: absolute;
  left: -50px;
  top: 20px;
  transform: rotate(45deg);
}

.endDate {
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 20px;
  transform: rotate(45deg);
}