$cell-width: 120px;
$cell-height: 120px;
$cell-width-no-event: 50px;
$cell-width-ongoing: 72px;
$cell-width-selected: 240px;
$cell-height-selected: 240px;

.calendarContainer {
  position: relative;
  overflow-x: scroll;
  text-align: center;
  white-space: nowrap;
}

.line {
  position: absolute;
  width: 100%;
  top: 116px;
  height: 4px;
  background: black;
  border-radius: 100px;
  z-index: 1;
}

.headerRow {
  display: block;
  white-space: nowrap;
}

.row {
  white-space: nowrap;
}

.cell {
  display: inline-grid;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  &[disabled] {
    &:hover {
      background-color: initial;
      cursor: initial;
    }
  }
}

.cellHeader {
  display: inline-block;
  width: calc(100% - 20px);
  margin: 0 10px;
  border-bottom: 1px solid lightgray;
}

.event {
  display: grid;
  position: relative;
  border: 1px solid gray;
  background-color: lightgray;
  width: 83%;
  height: 83%;
  padding: 4px 8px;
}

.eventInput {
  width: 100%;
  height: 100%;
  font-size: 10px;
  text-align: left;
  border: none;
  background: none;
  box-shadow: none;
  resize: none;
  font-family: inherit;
  background-color: white;

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: white;
  }
}

.cellBody {
  width: $cell-width-no-event;
  height: $cell-height;
  padding: 25px 8px 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  &.withEvent {
    width: $cell-width;
  }

  &.start {
    justify-content: flex-end;
    padding-right: 0;
    width: $cell-width;

    & .event {
      border-right: none;

      & .eventInput {
        border: 1px solid lightgray;
        padding: 4px 8px;
        height: 100%;
      }
    }
  }

  &.middle {
    padding-left: 0;
    padding-right: 0;
    width: $cell-width;

    & .event {
      border-left: none;
      border-right: none;
      width: 100%;

      & .eventInput {
        border: 1px solid lightgray;
        padding: 4px 8px;
        height: 100%;
      }
    }
  }

  &.end {
    justify-content: flex-start;
    padding-left: 0;
    width: $cell-width;

    & .event {
      border-left: none;

      & .eventInput {
        border: 1px solid lightgray;
        padding: 4px 8px;
        height: 100%;
      }
    }
  }

  &.ongoing {
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    & .event {
      border-left: none;
      border-right: none;
      width: 100%;
    }
  }

  &.selected {
    width: $cell-width-selected;
    height: $cell-height-selected;

    & .event {
      grid-template-columns: 50% 20% 30%;
      grid-template-rows: 20% 63% 15%;
      grid-template-areas:
        'title title edit'
        'img img edit'
        'topic type type';
      column-gap: 4px;
      row-gap: 4px;
      border: 1px solid gray;
      transform: scale(1.1);
      z-index: 1;
      cursor: initial;

      & .eventInput {
        grid-area: title;
      }
    }
  }
}

.editMenu {
  grid-area: edit;
  width: inherit;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}

.deleteEvent {
  border: 1px solid gray;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;

  &:hover {
    background-color: coral;
    color: red;
  }
}

.image {
  grid-area: img;
  width: 100%;
  height: 100%;
}

.noImage {
  grid-area: img;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.imgUrlTag {
  font-size: 10px;
  text-align: left;
  padding: 0 0 2px 8px;
}

.imgUrlInput {
  grid-area: img;
  font-size: 10px;
  justify-self: start;
  border: none;
  background: none;
  box-shadow: none;
  font-family: inherit;
  background-color: white;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: white;
  }
}

.topic {
  grid-area: topic;
  font-size: 10px;
  justify-self: start;
  border: none;
  background: none;
  box-shadow: none;
  font-family: inherit;
  background-color: white;
  height: 16px;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: white;
  }
}

.type {
  grid-area: type;
  font-size: 10px;
  justify-self: center;
  border: none;
  background: none;
  box-shadow: none;
  font-family: inherit;
  background-color: white;
  height: 16px;

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: white;
  }
}
