.calendarContainer {
  overflow-x: scroll;
  text-align: center;
  white-space: nowrap;
}

.headerRow {
  display: block;
  white-space: nowrap;
}

.row {
  white-space: nowrap;
}

$cell-width: 120px;
$cell-height: 120px;

.cell {
  display: inline-grid;
  border: 1px solid lightgray;
}

.cellHeader {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.cellBody {
  padding: 0 8px 8px;
  width: $cell-width;
  height: $cell-height;
}

.eventTitleInput {
  display: block;
  font-size: 10px;
  text-align: left;
  width: 100%;
  border: none;
  background: none;
  box-shadow: none;
  resize: none;
  font-family: inherit;

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: transparent;
  }
}
